body {
  min-height: 100vh;
  width: 190vh;
  display: flex;
  flex-direction: column;
  margin: 1vh;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  gap: 50px;
}


main {
  flex: 1;
}


body::-webkit-scrollbar {
  display: none;
}


.nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  left: -100vw;
  background: rgba(0, 0, 0, 0.5);
  transition: 1s ease;
}


.nav {
  font-family: "Montserrat Alternates", sans-serif;
  height: calc(100vh / 6);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.nav a {
  font-size: clamp(30px, 5vw, 50px);
  margin-right: 35px;
  font-weight: 200;
  text-decoration: none;
  color: #eeeeee;
  display: inline-block;
  position: relative;
}


.nav a:hover {
  color: #ffffff;
}


.nav a::after {
  content: "";
  display: block;
  bottom: 50%;
  width: 0;
  height: 1px;
  background: #eeeeee;
  position: absolute;
  transition: 0.3s linear;
}


.nav a:hover::after {
  width: 100%;
}


.nav:nth-of-type(1) {
  background: #ee4b2b;
  transform: translateX(-100vw);
  transition: 1s 0.1s ease;
}
.nav:nth-of-type(2) {
  background: #ee4b2b;
  transform: translateX(-100vw);
  transition: 1s 0.2s ease;
}
.nav:nth-of-type(3) {
  background: #ee4b2b;
  transform: translateX(-100vw);
  transition: 1s 0.3s ease;
}
.nav:nth-of-type(4) {
  background: #ee4b2b;
  transform: translateX(-100vw);
  transition: 1s 0.4s ease;
}
.nav:nth-of-type(5) {
  background: #ee4b2b;
  transform: translateX(-100vw);
  transition: 1s 0.5s ease;
}
.nav:nth-of-type(6) {
  background: #ee4b2b;
  transform: translateX(-100vw);
  transition: 1s 0.6s ease;
}


.nav:nth-of-type(1).show-menu {
  transform: translateX(0);
  transition: 1s 0.2s ease;
}
.nav:nth-of-type(2).show-menu {
  transform: translateX(0);
  transition: 1s 0.4s ease;
}
.nav:nth-of-type(3).show-menu {
  transform: translateX(0);
  transition: 1s 0.6s ease;
}
.nav:nth-of-type(4).show-menu {
  transform: translateX(0);
  transition: 1s 0.8s ease;
}
.nav:nth-of-type(5).show-menu {
  transform: translateX(0);
  transition: 1s 1s ease;
}
.nav:nth-of-type(6).show-menu {
  transform: translateX(0);
  transition: 1s 1.2s ease;
}
.nav-container.show-menu {
  left: 0;
  transition: 1s ease;
}
.navbutton {
  background: transparent;
  mix-blend-mode: normal;
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 28px;
  width: 40px;
}


.navbutton.show-menu {
  opacity: 0;
  z-index: -1;
}


.bar {
  background: #000;
  mix-blend-mode: difference;
  height: 3px;
}


.bar-top {
  width: 35px;
}


.bar-top.move {
  animation: barMove 0.8s linear infinite;
}


.bar-middle {
  width: 30px;
}


.bar-middle.move {
  animation: barMove 0.8s 0.1s ease infinite;
}


.bar-bottom {
  width: 25px;
}


.bar-bottom.move {
  animation: barMove 0.8s 0.2s linear infinite;
}


@keyframes barMove {
  from {
    width: 35px;
  }
  to {
    width: 10px;
  }
}
/* Home */
.image-container {
  display: inline-block;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}


.image-container img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}


.logo span {
  font-family: "Montserrat Alternates", sans-serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.logo.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #ffc107;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}


.logo.icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}  


.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  text-shadow: #fff;
}


.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 50%;
}


.hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero-content {
  z-index: 1;
  text-align: center;
}


.hero-content h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}


.hero-content p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  margin-bottom: 40px;
}


.hero-content button {
  margin-top: 20px;
}


.btn-primary {
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}


.btn-primary:hover {
  background-color: #ffa07a;
}

#newsletter {
  width: 60%; 
  margin: 40px auto; 
  background-color: #f7f7f7; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#newsletter h2 {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

#newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newsletter input[type="email"] {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

#newsletter button[type="submit"] {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#newsletter button[type="submit"]:hover {
  background-color: #3e8e41;
}

#newsletter p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}


#testimonials {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-heading {
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
}
.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}


.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-family: "Montserrat Alternates", sans-serif;
}


.name-user span{
  color: #979797;
  font-size: 0.8rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.user-comment p{
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

/* About */
.welcome-heading {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #fff;
  font-family: "Montserrat Alternates", sans-serif;
}


.welcome-heading {
  color: #000;
  text-shadow: 0 0 10px #ee4b2b;
  text-decoration: underline wavy #000;
  animation: zoom 2s infinite;
}


@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


.about img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  max-height: 600px;
  object-fit: contain;
  margin-bottom: 20px;
  border: 5px dotted #03A9F4;
  border-radius: 10px;
  animation: fade-in 2s;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }


}


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.about p {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  color: #000;
  font-family: "Montserrat Alternates", sans-serif;
}


.image-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border: none;
  outline: none;
}


.image-container img {
  width: 27.5%;
  height: auto;
  margin: 4%;
  border: 5px dotted #03A9F4;
  border-radius: 10px;
  object-fit: cover;
}


.our-story {
  font-size: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: underline wavy #000;
  text-align: center;
}


.our-mission {
  font-size: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: underline wavy #000;
  text-align: center;
}

.contact-section {
  margin-bottom: 40px; 
}

.contact-newsletter {
  margin-bottom: 20px; 
}

/* Contact */
.contact-section {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 40px auto 0 auto;
  display: flex;
  width: 80%;
  background-color: #c6efce;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-left-panel, .contact-right-panel {
  padding: 30px;
}

.contact-left-panel {
  flex: 2;
  border-right: 1px solid #ddd;
}

.contact-right-panel {
  flex: 1;
}

.contact-h1 {
  font-size: 3em;
  margin: 0 0 10px;
}

.contact-h1 span {
  text-decoration: underline;
  color: #E94F37;
}

.contact-form {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  flex-direction: column;
}

.contact-label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.contact-input, .contact-textarea {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.contact-btn {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.contact-btn:hover {
  background-color: #ffa07a;
}

.contact-send {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: inline-block;
  
}

.contact-send:hover {
  background-color: #ffa07a;
}

.contact-clr {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: inline-block;
}

.contact-clr:hover {
  background-color: #ffa07a;
}

.contact-newsletter {
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 30px;
}

.contact-newsletter input {
  width: calc(100% - 22px); 
}

.contact-links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.contact-links a {
  color: #E94F37;
  text-decoration: none;
  margin-bottom: 5px;
}

.contact-links a:hover {
  text-decoration: underline;
}

.contact-contacts p {
  margin: 5px 0;
}

.contact-contacts a {
  color: #E94F37;
  text-decoration: none;
}

.contact-contacts a:hover {
  text-decoration: underline;
}

.contact-back-link {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none; 
}

.contact-input:invalid:not(:focus) + .error-message {
  display: block;
}

/* product */

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product-grid h1 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  text-shadow: 0 0 10px #ee4b2b;
  text-decoration: underline wavy #000;
  animation: zoom 2s infinite;
}

.product {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.product-info {
  text-align: center;
  padding: 10px;
}

.product-name {
  text-decoration: double underline;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-description {
  display: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.button {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}

.button:hover {
  background-color: #0069d9;
}

.view-more-button {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #ff69b4;
  color: #fff;
}

.view-more-button:hover {
  background-color: #ff4777;
}

.sort-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-and-filter h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-weight: 600;
  margin-bottom: 10px;
}

.sort-and-filter h2 span {
  font-size: 18px;
  font-weight: 400;
  color: #666;
}

.sort-btn {
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: linear-gradient(to right, #007bff, #ffce00, #ee4b2b);
  background-size: 200px 100%;
  background-position: 0% 100%;
  animation: bounce 2s ease-in-out infinite;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: block; 
  margin: 0 auto; 
  text-align: center; 
  margin-top: 10px;
}

.sort-btn:hover {
  background-position: 100% 100%;
}

.category-filter {
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: linear-gradient(to right, #007bff, #ffce00, #ee4b2b);
  background-size: 200px 100%;
  background-position: 0% 100%;
  animation: bounce 2s ease-in-out infinite;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: block; 
  margin: 0 auto; 
  text-align: center; 
  margin-top: 10px;
}

.category-filter:hover {
  background-position: 100% 100%;
}

/* Checkout */

.checkout-header {
  background-color: #007bff; 
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkout-header h2 {
  font-family: 'Montserrat Alternates', sans-serif; 
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

.checkout-header:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffce00;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkout-container {
  font-family: 'Montserrat Alternates', sans-serif; 
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkout-items li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.checkout-items li:last-child {
  border-bottom: none;
}

.checkout-items span {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-weight: bold;
}

.checkout-items button {
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: linear-gradient(to right, #007bff, #ffce00, #ee4b2b);
  background-size: 200px 100%;
  background-position: 0% 100%;
  animation: bounce 2s ease-in-out infinite;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.checkout-items button:hover {
  background-position: 100% 100% ;
}

.checkout-total {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

#checkout-button {
  background-image: linear-gradient(to right, #007bff, #ffce00, #ee4b2b);
  background-size: 200px 100%;
  background-position: 0% 100%;
  animation: bounce 2s ease-in-out infinite;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


#clear-button {
  background-image: linear-gradient(to left, #007bff, #ffce00, #ee4b2b);
  background-size: 200px 100%;
  background-position: 0% 100%;
  animation: bounce 2s ease-in-out infinite;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* cartBtn */
.cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.cart-button button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.cart-button button:hover {
  background-color: #444;
}

.cart-icon {
  font-size: 18px;
  margin-right: 10px;
}

.cart-count {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* Admin */
.text-light {
  font-weight: bold;
  --bs-text-opacity: 1;
  color: rgb(0 0 0) !important;
}
/* Footer */

footer.footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #000;
}

footer {
    position: sticky fixed;
    bottom: 0;
    width: 100%;
    background-color: #ee4b2b;
    padding: 20px;
    text-align: center;
    color: #000;
  }


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ee4b2b;
}


.footer-logo {
  margin-right: auto;
}


.footer-logo img {
  width: 20%;
  height: 20%;
}


.footer-content > *:not(.footer-logo) {
  margin: 0 auto;
}

.foot p {
  margin-bottom: 0;
}

/* Media Queries */

/* Mobile phone (portrait) */
@media only screen and (max-width: 767px) {
  /* Styles for mobile phones (portrait) */
 .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
 .product {
    width: 35%;
    margin: 10px;
  }
 .product img {
    width: 100%;
    height: 150px; /* adjust the height to your liking */
    object-fit: contain;
    margin: 0 auto;
  }
 .product-info {
    padding: 10px;
  }
 .product-name {
    font-size: 16px;
  }
 .product-description {
    font-size: 14px;
  }
 .product-price {
    font-size: 16px;
  }
 .button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Sort and Filter Buttons */
.sort-and-filter {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-btn, .category-filter {
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: linear-gradient(to right, #007bff, #ffce00, #ee4b2b);
  background-size: 200px 100%;
  background-position: 0% 100%;
  animation: bounce 2s ease-in-out infinite;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block; 
  margin: 0 10px; 
}

.sort-btn:hover, .category-filter:hover {
  background-position: 100% 100%;
}

/* Media Queries */
/* Mobile phone (portrait) */
@media only screen and (max-width: 767px) {
  /* Styles for mobile phones (portrait) */
  .sort-and-filter {
    flex-direction: column;
    align-items: center;
  }
  .sort-btn, .category-filter {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 14px;
  }
}

.sort-btn:hover, .category-filter:hover {
  background-position: 100% 100%;
}

/* Media Queries */
/* Mobile phone (portrait) */
@media only screen and (max-width: 767px) {
  /* Styles for mobile phones (portrait) */
  .sort-and-filter {
    flex-direction: column;
    align-items: center;
  }
  .sort-btn, .category-filter {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 14px;
  }
}